<h1>Would you like me to edit your task?</h1>
<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class = "formfont">
 <div class="field_a">
    <%= f.label "What's your task?"%><br>
    <%= f.text_field :name %>
    <a href="#field_b hidden"><div id="arrow"></div></a>

  </div>
  <div class="field_b hidden">
    <%= f.label "Priority Level" %><br>
    <%= f.number_field :priority %>
    <a href="#field_c hidden"><div id="arrow"></div></a>
  </div>
    <div class="field_c hidden">
    <%= f.label "When is it due?" %><br>
    <%= f.date_select :deadline %>
    <a href="#field_d hidden"><div id="arrow"></div></a>
  </div>
    <div class="field_d hidden">
    <%= f.label "What time would you like to schedule this in?" %><br>
    <%= f.time_select :time%>
    <a href="#hidden_e hidden"><div id="arrow"></div></a>
  </div>
  <div class="field_e hidden">
    <%= f.label "Did you already finish this?" %><br>
    <%= f.check_box :is_completed %>
    <a href="#actions"><div id="arrow"></div></a>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>

<br>

