<h1>Edit your task?</h1>
<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="box5">
 <div class="field_a">
  <div class = "box_text1">
    <%= f.label "What's your task?"%><br>
    <div class = "formfont">
    <%= f.text_field :name %>
    <a href="#box6"><div id="arrow"></div></a>
  </div>

    <div id="field_b ">
    <div id="box6">
      <div class = "box_text1">
    <%= f.label "Priority Level" %><br>
    <div class ="formfont">
    <%= f.number_field :priority %>
    <a href="#box7"><div id="arrow"></div></a>
  </div>
</div>
  </div>

    <div id="box7">
    <div class="field_c">
      <div class = "box_text1">
    <%= f.label "When is it due?" %><br>
    <%= f.date_select :deadline %>
    <a href="#box8"><div id="arrow"></div></a>
  </div>
</div>

    <div id="box8">
    <div class="field_d">
      <div class = "box_text1">
    <%= f.label "What time would you like to schedule this in?" %><br>
    <%= f.time_select :time%>
    <a href="#box9"><div id="arrow"></div></a>
  </div>
</div>

  <div class="field_e ">
    <div class = "box_text2">
    <%= f.label "Did you already finish this?" %><br>
    <%= f.check_box :is_completed %>
    <a href="#actions"><div id="arrow"></div></a>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>

<br>

