<html>
<head>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="http://www.seanmccambridge.com/tubular/js/jquery.tubular.1.0.js"></script>
  <script>

$(document).ready(function(){
  $('a[href="#field_b"]').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
    && location.hostname == this.hostname) {
      var $target = $(this.hash);
      $target = $target.length && $target
      || $('[name=' + this.hash.slice(1) +']');
      if ($target.length) {
        var targetOffset = $target.offset().top;
        $('html,body')
        .animate({scrollTop: targetOffset}, 1000);
       return false;
      }
    }
  });
});

</script>

</head>

<div class="task_bg">

<div class = "box1">
<div class = "box_text1a">

<h2>Would you like to <br />
<h1> add a new task ?</h1> </h2>
<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>

      </div>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>
</div>

<div class="blurred2">

 <div class="field_a">
  <div class = "box_text1">
  <div class="box2">

    <%= f.label "What's your task?"%><br>
    <div class = "formfont">
    <%= f.text_field :name %>
    <a href="#field_b"><div id="arrow"></div></a>
  </div>
</div>
</div>
</div>

  </div>
  <div class="field_b ">
    <%= f.label "Priority Level" %><br>
    <%= f.number_field :priority %>
    <a href="#field_c"><div id="arrow"></div></a>
  </div>
    <div class="field_c ">
    <%= f.label "When is it due?" %><br>
    <%= f.date_select :deadline %>
    <a href="#field_d"><div id="arrow"></div></a>
  </div>
    <div class="field_d ">
    <%= f.label "What time would you like to schedule this in?" %><br>
    <%= f.time_select :time%>
    <a href="#hidden_e"><div id="arrow"></div></a>
  </div>
  <div class="field_e">
    <%= f.label "Did you already finish this?" %><br>
    <%= f.check_box :is_completed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>

<br><br>
</div>
<!-- Params hash is: <%= params %> -->
</html>
