<h1>Would you like to edit your profile?</h1>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label "Your name is:"%><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "I will e-mail you at  " %><br>
    <%= f.number_field :email %>
  </div>
    <div class="field">
    <%= f.label "Your current location (zip code) is" %><br>
    <%= f.number_field :zipcode %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<br>

