<h1>Hello, I'm Alfie. </h1> 
	<h4>Are you a new user?</h4>

<div class="signup_container">
<%= form_for @user do |f| %>
  Name: <%= f.text_field :name %> <br />
  Email: <%= f.text_field :email %> <br />
  Password: <%= f.password_field :password %>
  
  <%= f.submit %>
 </div>
<% end %>