
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="http://www.seanmccambridge.com/tubular/js/jquery.tubular.1.0.js"></script>
	<script> 

$(document).ready(function(){
  $('a[href="#box2"]').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
    && location.hostname == this.hostname) {
      var $target = $(this.hash);
      $target = $target.length && $target
      || $('[name=' + this.hash.slice(1) +']');
      if ($target.length) {
        var targetOffset = $target.offset().top;
        $('html,body')
        .animate({scrollTop: targetOffset}, 1000);
       return false;
      }
    }
  });
});

</script>

</head>

<div class = "box1">
	<div class = "box_text1"
	<h1><%= greeting_time %> <%= @user.name.capitalize %>. </h4>
	</h1>
	<h1> <%= (Time.now.hour - 12) %>:<%= (Time.now.min )%> </h1> 
	<h3> <%= Time.now.month %>.<%= Time.now.day %>.<%= Time.now.year%>.</h3>
	<a href="#box2"><div id="arrow"></div></a>
</div>


</div> 

<div class = "box2"> 
	<div class = "box_text2">
	<h1> You have <h1> <%= @user.tasks.count %> </h1> tasks left to complete. </h1>
	<a href="#box3"><div id="arrow"></div></a>
</div>
</div>


<div class = "box3">
	<div class = "box_text3">

	<h4> You have <h1><%= @user.points %> </h1>  points. </h4>
	<a href="#box1ls
	"><div id="arrow"></div></a>
</div>
</div>

<%= link_to "Your Profile", edit_user_path(current_user) %>

<%= render partial: "layouts/file1" %>
<%= render partial: "layouts/file2" %>

</html>

<!-- time now -> 


	, <%= @user.name %> :)</h1> ... NEED TO FIX DUE DATE/PRIORITY SORTING... JQUERY CALENDAR
<h1> You are level <%= @user.level %> </h1>
<h1> You have <%= @user.points %> points. </h1>
<h1> You have <%= @user.tasks.count %> tasks. </h1>
<h3>TASKS <%= @user.tasks %></h3>
<h3>PRIORITY: <%= @task %></h3>
<h3>DATE: <%= @task %></h3>
<h3>COMPLETED: <%= @task %></h3>



<%= link_to "Edit", edit_user_path(@user), class: 'btn btn-primary' %>

